<a href="https://colab.research.google.com/github/pikusneh/TIFR/blob/main/sql_tutorials_ehep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to SQL

In this tutorial you will get introduced to Structured Query Language (SQL) using a simple relational database management system (RDBMS) called sqlite3.

I will demonstrate this using a series of examples and assignments (graded).

In the following exercise, our task is to create a database which contains the scores of each student participating in the EHEP 2023 school. Since the student will be graded for each session separately, we need to store the score of each session separately.

# Creating a database

In [ ]:
import sqlite3
connection = sqlite3.connect("ehep.db") # this creates/opens a database named ehep.db

# Creating a student table

For this, we first create a cursor object.  Cursor objects allow us to send SQL statements to a SQLite database using cursor.execute().
The SQL command for this is:

The keyword to create a table is **CREATE TABLE**

```
CREATE TABLE student (name TEXT, email TEXT)
```

Note the syntax, the first column is named 'name' and is of TEXT type, the second column is named 'email' and is of TEXT type...
This format is called a SQL command or SQL query and it works for all databases and in variety of other languagegs like C/C++
All accessess are made through such queries. We will see only a few important queries in this tutorial, good enough to get started.

In [ ]:
cursor = connection.cursor()
cursor.execute("CREATE TABLE student (name TEXT, email TEXT)")

# Inserting data into student tables

In this task, you will insert dummy data into the student table.
Since the student table has two columns named name and email, we will have to insert two values.

The following segment shows how to insert 6 rows of student data.

The keyword to insert data into a table is **INSERT INTO**

In [ ]:
cursor.execute("INSERT INTO student VALUES ('student 1', 'student1@gmail.com')")
cursor.execute("INSERT INTO student VALUES ('student 2', 'student2@gmail.com')")
cursor.execute("INSERT INTO student VALUES ('student 3', 'student3@gmail.com')")
cursor.execute("INSERT INTO student VALUES ('student 4', 'student4@gmail.com')")
cursor.execute("INSERT INTO student VALUES ('student 5', 'student5@gmail.com')")
cursor.execute("INSERT INTO student VALUES ('student 6', 'student6@gmail.com')")

# Reading the data that you just inserted

The segment below shows how to read the data from the student table.

The keyword to read is **SELECT**

Try these alternate ways:


```
rows = cursor.execute("SELECT name FROM student").fetchall()
```

```
rows = cursor.execute("SELECT email FROM student").fetchall()
```


```
rows = cursor.execute("SELECT * FROM student").fetchall()
```

In [ ]:
rows = cursor.execute("SELECT * FROM student").fetchall()
print(rows)

[('student 1', 'student1@gmail.com'), ('student 2', 'student2@gmail.com'), ('student 3', 'student3@gmail.com'), ('student 4', 'student4@gmail.com'), ('student 5', 'student5@gmail.com'), ('student 6', 'student6@gmail.com')]

## Assignment: Creating a session table
You are now required to create a session table with three columns
* session_name (TEXT)
* instructor (TEXT)
* max_marks (INTEGER)

and insert 5 dummy rows of data into that table and then finally read them back.

Time duration 10 minutes.

# Modifying data in a table

In order to update a SQL table, we use the keywork *UPDATE*. In the query statement, we should indicate which column to modify and which rows. In this example, we update the max_marks for session 1.
After this query you will find the max_marks updated from 100 to 10.

In [ ]:
new_max_marks = 10
session = 'session 1'
cursor.execute(
    "UPDATE session SET max_marks = ? WHERE session_name = ?",
    (new_max_marks, session)
)

In [ ]:
rows = cursor.execute("SELECT * FROM session").fetchall()
print(rows)

[('session 1', 'instructor 1', 10), ('session 2', 'instructor 2', 200), ('session 3', 'instructor 3', 50), ('session 4', 'instructor 4', 75), ('session 5', 'instructor 5', 10)]

## Assignment: Modifying data


1.   Update the max_marks for instructor 3 to 300
2.   Update all the max_marks to 300

# Deleting a record from session table

In order to delete a row from a table use the following query syntax:

```
DELETE FROM table_name WHERE condition
```

The following example shows how to delete instructor 5.

In [ ]:
instructor = "instructor 5"
cursor.execute(
    "DELETE FROM session WHERE instructor = ?",
    (instructor,)
)
rows = cursor.execute("SELECT * FROM session").fetchall()
print(rows)
# you can try deleting few other records.

[('session 1', 'instructor 1', 300), ('session 2', 'instructor 2', 300), ('session 3', 'instructor 3', 300), ('session 4', 'instructor 4', 300)]

# Deleting a table from database

To delete a full table, use the following query syntax:

`DROP TABLE table_name;`

The following example shows how to detele the session table.

In [ ]:
cursor.execute(
    "DROP TABLE session"
)
# after deleting you cannot access the table
rows = cursor.execute("SELECT * FROM session").fetchall()
print(rows)

## Assignment : Deleting the student table

Delete the student table from the database

In [ ]:
cursor.execute(
    "DROP TABLE student"
)
# after deleting you cannot access the table
rows = cursor.execute("SELECT * FROM student").fetchall()
print(rows)

# PRIMARY KEYS

Primary keys are special columns in a table that carry an unique id for every row. SQL auto creates the unique id based on user provided constraints.

For example, I can create a unique id based on student email so that two students using the same id are assigned the same primary keys.

Primary keys entries cannot be left empty and should not be duplicates

In the next task, we shall recreate the deleted student table and session table but with the primary key.

In [ ]:
cursor.execute("CREATE TABLE student (name TEXT, email TEXT NOT NULL PRIMARY KEY)")

In [ ]:
cursor.execute("INSERT INTO student VALUES ('student 1', 'student1@gmail.com')")
cursor.execute("INSERT INTO student VALUES ('student 2', 'student2@gmail.com')")
cursor.execute("INSERT INTO student VALUES ('student 3', 'student3@gmail.com')")
cursor.execute("INSERT INTO student VALUES ('student 4', 'student4@gmail.com')")
cursor.execute("INSERT INTO student VALUES ('student 5', 'student5@gmail.com')")
cursor.execute("INSERT INTO student VALUES ('student 6', 'student6@gmail.com')")

rows = cursor.execute("SELECT * FROM student").fetchall()
print(rows)

In [ ]:
# this statement will return an error since you are inserting a duplicate primary key
cursor.execute("INSERT INTO student VALUES ('student 6', 'student6@gmail.com')")

## Auto Increment column

In many cases you may want to create a column which serves like a row_number or row_id. For such, the auto increment keyword may be used.
For example, you may want to give each student a separate id.

Lets create a student table with an additional auto increment column named student_id. Further we will the student_id column as primary key.

Before that, we must delete the existing student table.

In [ ]:
cursor.execute("DROP TABLE student") # delete the table

# student_id is an auto increment column and is also a primary key
cursor.execute("CREATE TABLE student (student_id INTEGER  PRIMARY KEY AUTOINCREMENT, name TEXT, email TEXT)")

# inserting values, note that the auto increment values are not given! They are auto created and auto incremented!

cursor.execute("INSERT INTO student (name, email) VALUES ('student 1', 'student1@gmail.com')")
cursor.execute("INSERT INTO student (name, email) VALUES ('student 2', 'student1@gmail.com')")
cursor.execute("INSERT INTO student (name, email) VALUES ('student 3', 'student1@gmail.com')")
cursor.execute("INSERT INTO student (name, email) VALUES ('student 4', 'student1@gmail.com')")
cursor.execute("INSERT INTO student (name, email) VALUES ('student 5', 'student1@gmail.com')")
cursor.execute("INSERT INTO student (name, email) VALUES ('student 6', 'student1@gmail.com')")


rows = cursor.execute("SELECT * FROM student").fetchall()
print(rows)
# you should notice now how the id is autoincremented for every student

[(1, 'student 1', 'student1@gmail.com'), (2, 'student 2', 'student1@gmail.com'), (3, 'student 3', 'student1@gmail.com'), (4, 'student 4', 'student1@gmail.com'), (5, 'student 5', 'student1@gmail.com'), (6, 'student 6', 'student1@gmail.com')]

## Assignment: Create a session table with primary key


Create a session table with session_id as primary key and autoincrement it

# FOREIGN KEYS

A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.

The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

In the following exercise, we will demonstrate how to create a table that uses foreign keys.

We will create a marks table which contains the marks of a student in a particular session. There will be three columns. First a link to a student, second, the link to a session and third, the marks.

In [ ]:
cursor.execute("CREATE TABLE marks (studentID INTEGER, sessionID INTEGER, marks INTEGER, FOREIGN KEY (studentID) REFERENCES student(student_id), FOREIGN KEY (sessionID) REFERENCES session(session_id) );")

cursor.execute("INSERT INTO marks VALUES (1, 1, 10)")
cursor.execute("INSERT INTO marks VALUES (1, 2, 20)")
cursor.execute("INSERT INTO marks VALUES (2, 1, 40)")
cursor.execute("INSERT INTO marks VALUES (3, 2, 40)")

rows = cursor.execute("SELECT * FROM marks").fetchall()
print(rows)

[(1, 1, 10), (1, 2, 20), (2, 1, 40), (3, 2, 40)]

# SQLITE Schema

Every SQLite database contains a single "schema table" that stores the schema for that database. The schema for a database is a description of all of the other tables, indexes, triggers, and views that are contained within the database. The schema table looks like this:



```
CREATE TABLE sqlite_schema(
  type text,
  name text,
  tbl_name text,
  rootpage integer,
  sql text
);
```

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('student',), ('sqlite_sequence',), ('session',), ('marks',)]

In [ ]:
connection.commit() # is required after every insert

https://sqliteviewer.app/